text {
	font-family: 'Josefin Sans', sans-serif;
	font-weight: 400;
	font-size: 36px;
	fill: #666;
	fill-opacity: .9;
}

#fuqua text {
	font-size: 11px;
}

.brush .extent {
  stroke: #fff;
  fill-opacity: .125;
  shape-rendering: crispEdges;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.area {
  stroke: steelblue;
  fill: none;
  clip-path: url(#clip);
}

circle {
	fill: #0680CD;
	fill-opacity: .5;
}

input[type = range] {
	-webkit-appearance: none;
	margin: 30px 450px;
}

input[type = range]:focus {
	outline: none;
}

.button {
	border: 0 !important;  /*Removes border*/
	-webkit-appearance: none;  /*Removes default chrome and safari style*/
	-moz-appearance: none; /* Removes Default Firefox style*/
	background: #0680CD no-repeat 90% center;
	width: 100px; /*Width of select dropdown to give space for arrow image*/
	text-indent: 0.01px; /* Removes default arrow from firefox*/
	text-overflow: "";  /*Removes default arrow from firefox*/ /*My custom style for fonts*/
	color: #FFF;
	border-radius: 10px 0;
	padding: 5px;
	box-shadow: inset 0 0 5px rgba(000,000,000, 0.5);
	opacity: .8;
}

a.button {
	text-decoration: none;
	font-family: Arial, Helvetica, sans-serif;
	font-size: .7em;
}

textarea {
	width: 400px;
	height: 150px;
}

#modal {
	position: fixed;
	font-family: Arial, Helvetica, sans-serif;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: rgba(0,0,0,0.8);
	z-index: 99999;
	opacity:0;
	-webkit-transition: opacity 400ms ease-in;
	-moz-transition: opacity 400ms ease-in;
	transition: opacity 400ms ease-in;
	pointer-events: none;
}

#modal:target {
	opacity:1;
	pointer-events: auto;
}

#modal > div {
	width: 400px;
	position: relative;
	margin: 10% auto;
	padding: 5px 20px 13px 20px;
	border-radius: 10px;
	background: #fff;
}

.close {
	background: #606061;
	color: #FFFFFF;
	line-height: 25px;
	position: absolute;
	right: -12px;
	text-align: center;
	top: -10px;
	width: 24px;
	text-decoration: none;
	font-weight: bold;
	-webkit-border-radius: 12px;
	-moz-border-radius: 12px;
	border-radius: 12px;
	-moz-box-shadow: 1px 1px 3px #000;
	-webkit-box-shadow: 1px 1px 3px #000;
	box-shadow: 1px 1px 3px #000;
}

.close:hover { 
	background: #0680CD; 
}

::-webkit-slider-runnable-track {
	height: 5px;
	background: #ddd;
	border: none;
	border-radius: 25px;
}

::-webkit-slider-thumb {
    -webkit-appearance: none;
    border: none;
    height: 16px;
    width: 16px;
    border-radius: 50%;
    background: #0680CD;
    opacity: .8;
    margin-top: -6px;
}

