#lee_baker svg {
	/*background-color: #666666;*/
}

text {
	font-family: 'Josefin Sans', sans-serif;
	font-weight: 400;
	font-size: 36px;
	fill: #666;
	fill-opacity: .9;
}

circle {
	fill: #0680CD;
	fill-opacity: .5;
}